<style>
  body{background-image: url("/img/bg-main.jpg"); background-repeat: no-repeat;
  background-size:cover;height: 100vh;background-attachment: fixed; }
</style>
<div class='py-24'>

  <div class=''>

  </div>
</div>