<!DOCTYPE html>
<header>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Node App|| {{title}}</title>
  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
</header>

<nav class="bg-green-200 flex justify-between px-8 py-5 gap-10 text-2xl ">
  <a href="#">Title</a>
  <ul class="flex gap-3">
    <li><a href=""> Login</a></li>
    <li><a href=""> SignUp</a></li>
  </ul>
</nav>
